

<table>
    <tr>
       <% keys.forEach((key)=>{ %>
            <th><%=key%></th>
        <% }) %>
    </tr>
    <% data.forEach((d)=>{ %>
        <tr>
            <td>
                <%=d%>
            </td>       
        </tr>
    <% } )%>
</table>